main {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    overflow: auto;
}

main a {
    text-decoration: underline;
}

main li {
    line-height: 1.6em;
}

#left-col, #right-col {
    flex: 1;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
    padding-right: 5px;
}

#right-col {
    border-left: 1px dashed rgba(187, 187, 187, 0.50);
    margin-left: 10px;
    padding-left: 5px;
}

