#submenu_cpr_ceu {
  display: flex;
}

figcaption {
}

.ceu-notice {
  padding: 0 5px;
  border: 1px dotted red;
  font-size: 85%;
  line-height: 1.25em;
}
.ceu-notice > div,
.ceu-notice > p {
  margin-top: 5px;
  margin-bottom: 0;
}
.ceu-notice > div:last-child,
.ceu-notice > p:last-child {
  margin-bottom: 6px;
}
