.contact-form {height: 100%;width: 100%;display: flex;flex-flow: row nowrap;align-items: flex-start;justify-content: space-between;}

.contact-form .label {font-size: 0.9em;font-weight: bold;/* margin-top: 20px; *//* margin-left: 20px; */display: inline;}

.contact-form .drop-down {display: inline-block;border: 2px solid;padding: 1px 4px;font-size: 0.9em;}

.contact-form .textbox {display: inline-block;border: 2px solid;height: 1.5em;width: 100%;background: rgba(0,0,0, 0.8);}

.contact-form .checkbox {display: inline;/* height: 1.2em; *//* width: 1.2em; */border: 2px solid;padding: 2px;vertical-align: text-bottom;}

.contact-form .button {border: 4px solid;background-color: rgba(20,20,50,0.9);padding: 10px;display: inline-block;width: auto;/* margin: 20px 0; */}

.contact-form .label:first-child {
    margin-left: 0;
    margin-top: 0;
}

.contact-form > div {display: flex;flex-flow: column nowrap;justify-content: flex-start;align-items: flex-start;height: 100%;width: 32%;}

.contact-form > div > div {
    width: 100%;
}

#center-col {overflow: hidden;padding: 0 5%;}

#left-col {
    flex: 0 0 29%;
    width: 29%;
    /* padding-right: 3%; */
}

#submenu_contact_us {
    display: flex;
}

main > ul.transit {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 100%;
  margin-bottom: 0;
}

main > ul.parking {
  overflow-y: scroll;
  height: 100%;
  margin-bottom: 0;
}

main > ul.parking li {
  margin-top: 10px;
}
main > ul.parking > li:first-child {
  margin-top: 0;
}


main {
    align-items: stretch;
}

#map_col, #directions_col {
    display: flex;
    flex-flow: column;
}
#map_col {
    justify-content: center;
}
#directions_col {
    justify-content: space-around;
}

a.map {
    display: inline-block;
}

#directions_col form {
    display: flex;
    flex-flow: column nowrap;
}

input[type="submit"] {
    font-weight: bold;
    margin-top: 1em;
    min-width: 15em;
    color: #BBBBBB;
}
input[type="checkbox"] {
}
input[readonly="readonly"] {
    color: buttontext;
}
select {
    background-color: transparent;
    width: 100%;
}
option {
    background-color: black;
}

.checksquare {
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 2px solid #BBBBBB;
  border-radius: 3px;
  padding: 2px;
  vertical-align: text-bottom;
  position: relative;
  text-shadow: none;
  margin-top: 3px;
}
.checksquare input.checkbox {
  visibility: hidden;
  display: none;
}
.checksquare input + label {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
}
.checksquare input + label:after {
  display: inline-block;
  opacity: 0;
  content: '';
  background: #BBBBBB;
  width: 10px;
  height: 10px;
  margin: auto;
  position: relative;
  top: -5px;
}
.checksquare input + label:hover:after {
  opacity: 0.3;
}
.checksquare input:checked + label:after {
  opacity: 1.0;
}
