#menu {
  font-size: 1em;
  line-height: 1.2em;
  width: 18%;
}

main {
  display: none;
}

#footer-menu {
  display: none;
}
#footer-information {
  display: flex;
}
#footer-socialmedia {
  display: block;
}


body>footer {
    border-left: 1px solid;
    padding-left: 10px;
}
