/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
  Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
  ========================================================================== */

/*
 * Colors
 *
 * EMT: #144995
 * Paramedic: #652837
 * Phleb: #ec2023
 * Pharm: #43c2bb
 * MA: #5dafe1
 * SPT: #e8d318
 * Admin: #2e2367
 * Postsec: #62ff00
 * CEU: #4c20bf
 * About: #00d0ff
 * News: #ffb701
 * Contact: #fe6a00
 * Resources: #fb00ff
 */

.about.color {
  color: #00d0ff !important;
}
.about.border-color {
  border-color: #00d0ff !important;
}
.news.color {
  color: #ffb701 !important;
}
.news.border-color {
  border-color: #ffb701 !important;
}
.contact.color {
  color: #fe6a00 !important;
}
.contact.border-color {
  border-color: #fe6a00 !important;
}
.resources.color {
  color: #fb00ff !important;
}
.resources.border-color {
  border-color: #fb00ff !important;
}

.postsec.color {
  color: #62ff00 !important;
}
.postsec.border-color {
  border-color: #62ff00 !important;
}

.ceu.color {
  color: #4c20bf !important;
}
.ceu.border-color {
  border-color: #4c20bf !important;
}

.admin.color {
  color: #2e2367 !important;
}
.admin.border-color {
  border-color: #2e2367 !important;
}

.emt.color {
  color: #144995 !important;
}
.emt.border-color {
  border-color: #144995 !important;
}

.paramedic.color {
  color: #652837 !important;
}
.paramedic.border-color {
  border-color: #652837 !important;
}

.pharm.color {
  color: #43c2bb !important;
}
.pharm.border-color {
  border-color: #43c2bb !important;
}

.phleb.color {
  color: #ec2023 !important;
}
.phleb.border-color {
  border-color: #ec2023 !important;
}

.ma.color {
  color: #5dafe1 !important;
}
.ma.border-color {
  border-color: #5dafe1 !important;
}

.spt.color {
  color: #e8d318 !important;
}
.spt.border-color {
  border-color: #e8d318 !important;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  color: #BBBBBB;
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
  text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black, -1px 1px 0 black;
  background: #000000;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+68,27396c+100 */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2OCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjczOTZjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 68%, rgba(39,57,108,1) 100%), url('/img/bg/index.png'); /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(68%, rgba(0,0,0,1)), color-stop(100%,rgba(39,57,108,1))); /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 68%, rgba(39,57,108,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(top, rgba(0,0,0,1) 68%, rgba(39,57,108,1) 100%); /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(top, rgba(0,0,0,1) 68%, rgba(39,57,108,1) 100%); /* IE10 preview */
  background: linear-gradient(to bottom, rgba(0,0,0,1) 68%, rgba(39,57,108,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#27396c',GradientType=0 ); /* IE6-8 */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-attachment: fixed;
}

body.loaded {
  background: #000000 url('/img/bg/index.png');

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+68,27396c+100 */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2OCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjczOTZjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: url('/img/bg/index.png'), -moz-linear-gradient(top, rgba(0,0,0,1) 68%, rgba(39,57,108,1) 100%), url('/img/bg/index.png'); /* FF3.6-15 */
  background: url('/img/bg/index.png'), -webkit-gradient(linear, left top, left bottom, color-stop(68%, rgba(0,0,0,1)), color-stop(100%,rgba(39,57,108,1))); /* Chrome4-9,Safari4-5 */
  background: url('/img/bg/index.png'), -webkit-linear-gradient(top, rgba(0,0,0,1) 68%, rgba(39,57,108,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: url('/img/bg/index.png'), -o-linear-gradient(top, rgba(0,0,0,1) 68%, rgba(39,57,108,1) 100%); /* Opera 11.10-11.50 */
  background: url('/img/bg/index.png'), -ms-linear-gradient(top, rgba(0,0,0,1) 68%, rgba(39,57,108,1) 100%); /* IE10 preview */
  background: url('/img/bg/index.png'), linear-gradient(to bottom, rgba(0,0,0,1) 68%, rgba(39,57,108,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#27396c',GradientType=0 ); /* IE6-8 */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-attachment: fixed;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

/* ===================
  ALL: Orange Theme
  =================== */

.header-container {
  border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
  border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
  background: #f16529;
}

.title {
  color: white;
}

/* ==============
  MOBILE: Menu
  ============== */

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Quicksand", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-variant: small-caps;
  font-size: 1.4em;
  color: #DDD;
}

nav ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* margin-left: 1px; */
  position: relative;
  margin-bottom: 12px;
}

nav ul li a {
  color: #DDD;
}

nav a {
  /* display: block; */
  /* margin-bottom: 10px; */
  /* padding: 15px 0; */
  /* text-align: center; */
  /* text-decoration: none; */
  /* font-weight: bold; */
  /* color: white; */
  /* background: #e44d26; */
}

nav a:hover,
nav a:visited {
  /* color: lightgrey; */
}

nav a:hover {
  text-decoration: underline;
}

/* ==============
  MOBILE: Main
  ============== */

.main {
  padding: 30px 0;
}

.main article h1 {
  font-size: 2em;
}

.main aside {
  color: white;
  padding: 0px 5% 10px;
}

.footer-container footer {
  color: white;
  padding: 20px 0;
}

/* ===============
  ALL: IE Fixes
  =============== */

.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
  Author's custom styles
  ========================================================================== */















/* ==========================================================================
  Media Queries
  ========================================================================== */

@media  {

/* ====================
  INTERMEDIATE: Menu
  ==================== */

  nav a {
      /* float: left; */
      /* width: 27%; */
      /* margin: 0 1.7%; */
      /* padding: 25px 2%; */
      /* margin-bottom: 0; */
  }

  nav li:first-child a {
      margin-left: 0;
  }

  nav li:last-child a {
      margin-right: 0;
  }

/* ========================
  INTERMEDIATE: IE Fixes
  ======================== */

  nav ul li {
      /* display: block; */
  }

  .oldie nav a {
      margin: 0 0.7%;
  }
}

@media only screen and (min-width: 768px) {

/* ====================
  WIDE: CSS3 Effects
  ==================== */

  .header-container,
  .main aside {
      box-shadow: 0 5px 10px #aaa;
  }

/* ============
  WIDE: Menu
  ============ */

  .title {
      float: left;
  }

  nav {
      /* float: right; */
      /* width: 38%; */
  }

/* ============
  WIDE: Main
  ============ */

  .main article {
      float: left;
      width: 57%;
  }

  .main aside {
      float: right;
      width: 28%;
  }
}

@media only screen and (min-width: 1140px) {

/* ===============
  Maximal Width
  =============== */

  .wrapper {
      width: 1026px; /* 1140px - 10% for margins */
      margin: 0 auto;
  }
}

/* ==========================================================================
  Helper classes
  ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
  Print styles
  ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
  }

  a,
  a:visited {
      text-decoration: underline;
  }

  a[href]:after {
      content: " (" attr(href) ")";
  }

  abbr[title]:after {
      content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
      content: "";
  }

  pre,
  blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
  }

  thead {
      display: table-header-group;
  }

  tr,
  img {
      page-break-inside: avoid;
  }

  img {
      max-width: 100% !important;
  }

  p,
  h2,
  h3 {
      orphans: 3;
      widows: 3;
  }

  h2,
  h3 {
      page-break-after: avoid;
  }
}


/******************/




img#logo-img {
  /* width: 80%; */
  /* max-height: 120px; */
  height: 100%;
}


body>footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  /* padding-bottom: 5px; */
  /* padding-top: 5px; */
  height: 6%;
  margin-bottom: 10px;
  line-height: 1.2em;
  color: #9AB;
  text-shadow: 0px 5px 10px black;
  /* border-top: #667 1px solid; */
}


a {
    color: #BBBBBB;
    text-decoration: none;
}


body>header {
    padding-top: 10px;
    padding-bottom: 15px;
    height: 25%;
}

body>footer a {
    color: #9AB;
}

#main {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    padding-left: 0;
    height: 65%;
    width: 100%;
    border-left: #AAB solid 1px;
}

#divider {
    margin: 0px 10px;
    height: 2%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

#divider>hr {
  border-color: #AAB;
  margin-top: 5px;
  margin-bottom: 5px;
}

#menu {
  padding: 5px 25px 5px 0;
  /* display: inline-block; */
  /* flex-grow: 1; */
  border: none;
  line-height: 1.4em;
  width: 11%;
  font-size: 0.7em;
  height: 100%;
}

.submenu {
  display: none;
}

#footer-menu .submenu {
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: stretch;
  /* font-size: 1.1em; */
  height: 100%;
}
#footer-menu .submenu > div {
}
#footer-menu .submenu div {
  /* padding: 0px 30px 0px 10px; */
  /* padding-right: 30px; */
  flex: 1;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Quicksand", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-variant: small-caps;
  color: #DDD;
  border-left: 1px solid #9AB;
  /* margin-left: 1px; */
  position: relative;
  text-shadow: 0 3px 7px #b7b507;
}
#footer-menu .submenu > div:first-child {
  font-size: 1.4em;
  /* border-color: transparent; */
  /* text-shadow: none; */
  /* flex: none; */
  /* border-left-style: none; */
  /* margin-left: -10px; */
  /* left: -9px; */
}
#footer-menu .submenu div:first-child {
}
#footer-menu .submenu div a,
#footer-menu .submenu div span {
  color: #DDD;
  /* padding-left: 5px; */
  padding-right: 30px;
}

nav ul li div.color_bar {
  /* flex: 1; */
  height: 2em;
}
nav ul li div.color_bar,
#footer-menu .submenu div div.color_bar {
  padding: 0 5px 0 0;
  border-left-width: 3px;
  border-left-style: solid;
  /* margin-left: -1px; */
  left: -2px;
  position: relative;
  flex: none;
  z-index: 5;
}
#footer-menu .submenu div:nth-child(3n+0) div.color_bar {
  /* left: -1px; */
}
#footer-menu .submenu div div.color_bar {
  /* left: -3px; */
  height: 1em;
}


body>header>a {
    display: inline-block;
    height: 70%;
}


#footer-socialmedia > a {
  /* height: 25px; */
  display: inline-block;
}

#footer-socialmedia > a > img {
    height: 25px;
    margin: 0 5px;
}

#footer-information {
    display: flex;
}

.footer-divider {
    font-weight: bold;
    font-size: 1.3em;
    margin: 0 10px;
}


#footer-information, #footer-socialmedia {
    font-size: 0.8em;
    margin-right: 15px;
    display: none;
}

main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    /* overflow-y: scroll; */
    overflow: hidden;
    padding: 10px;
    background-color: rgba(0,0,0, 0.85);
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-size: 13px;
    line-height: 21px;
}

main > *:first-child {
    margin-top: 0;
}

#left-col, #center-col, #right-col {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
}

#left-col, #right-col {
    flex: 0 0 25%;
    width: 25%;
    overflow: hidden;
}

#center-col {
    flex: 1;
    overflow-y: auto;
    padding: 0 10px;
    /* font-size: 0.9em; */
}

#left-col img, #right-col img {
    height: 100%;
    max-width: 100%;
    border: 2px solid #AAAABB;
    display: block;
    margin: 0 auto;
}

#left-col .img-wrap, #right-col .img-wrap {
    height: 33%;
    width: 100%;
    padding: 2%;
    text-align: center;
}




#page-header {
    margin: 0.5em 0 0.5em 15%;
    font-family: Quicksand, sans-serif;
}

::-webkit-scrollbar-track {
  border-radius: 20;
  border: 1px solid #222222;
}
::-webkit-scrollbar {
  width: 7px;
  background: transparent;
  border-radius: 20;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgba(39,57,108, 0.15), rgba(39,57,108, 0.5), rgba(39,57,108, 0.15));
  border-radius: 20;
}

figure {
  position: relative;
}

figcaption {
  position: relative;
  top: -2.2em;
  /*color: black;*/
  /*text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white, -1px 1px 0 white;*/
  font-weight: bold;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  padding: 2px 4px;
  background-color: rgba(0,0,0, 0.75);
}


#footer-menu {
    width: 100%;
    height: 100%;
}


.nowrap {
    white-space: nowrap;
}



