#submenu_career_courses {
  display: flex;
}

ol {
    padding-left: 0;
    margin-left: 1.25em;
}

h2 {
    font-size: large;
    margin: 0;
}

#testimonial-link {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 0;
}

