#submenu_career_courses {
  display: flex;
}

ol {
    padding-left: 0;
    margin-left: 1.25em;
}

h2 {
    font-size: large;
    margin: 0;
}

#testimonial-link {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.5em !important;
}
#testimonial-link > a {
    padding-bottom: 2px;
    border-bottom: solid 1px white;
}



#center-col > * {
    margin-top: 0;
    margin-bottom: 1em;
}
