#submenu_student_resources {
  display: flex;
}

main {
  /* display: block; */
  overflow-y: auto;
}

main a {
  text-decoration: underline;
}

dt, li {
  margin-top: 8px;
}
dt:first-child, li:first-child {
  margin-top: 0;
}


main > section {
    flex: 1;
}