{% extends 'base.twig' %}

{% set css = ['3cols.css']|merge( css|default( [] ) ) %}

{% block main %}
  <div id="left-col">
    {% block left %}
      {% set content = left %}
      {% include 'col_item.twig' %}
    {% endblock left %}
  </div>
  <div id="center-col">
    {% block center %}
      {% set content = center %}
      {% include 'col_item.twig' %}
    {% endblock center %}
  </div>
  <div id="right-col">
    {% block right %}
      {% set content = right %}
      {% include 'col_item.twig' %}
    {% endblock right %}
  </div>
{% endblock main %}

