{% extends 'base.twig' %}

{% block main %}
  <div id="center-col">
    {% block center %}
      {% set content = center %}
      {% include 'col_item.twig' %}
    {% endblock center %}
  </div>
  <div id="right-col">
    {% block right %}
      {% set content = right %}
      {% include 'col_item.twig' %}
    {% endblock right %}
  </div>
{% endblock main %}

