<div id="footer-menu">
{% include 'submenu.twig' %}
</div>

<div id="footer-information">

  <div id="copyright">&copy;{{ "now"|date('Y') }}</div>

  <span class="footer-divider">&bullet;</span>

  <div id="address" class="nowrap">
    <a href="http://www.google.com/maps/place/2075+Allston+Way+Berkeley+CA+94704/">
      2075 Allston Way, Suite B, Berkeley, CA 94704
    </a>
  </div>

  <span class="footer-divider">&bullet;</span>

  <div id="phone">
    <a href="tel:+1-510-849-4009">510-849-4009</a>
  </div>

  <span class="footer-divider">&bullet;</span>

  <div id="email">
    <script>
      poorly_obfuscated = 'iJn%fQ**0Oo#@-Pf=aBs!7!tLrPPFe3s(p)*oJnRs&e.:0oQQrKg8';
      real = poorly_obfuscated.replace(/[^a-z@.]/g, '');
      document.write('<a href="mailto:' + real + '">' + real + '</a>');
    </script>
    <noscript>
      <a href="/contact/">Email</a>
    </noscript>
  </div>
</div>

<div id="footer-socialmedia">
  <a href=""><img src="/img/facebook-logo.png" alt="Facebook"></a>
  <a href=""><img src="/img/twitter-logo.png" alt="Twitter"></a>
  <a href=""><img src="/img/yelp-logo.png" alt="Yelp"></a>
</div>
