<ul>
  <li><div class="color_bar postsec border-color"></div>Career<br>Courses
    <ul class="submenu">
      <li><a href="/courses/emt/">EMT</a></li>
      <li><a href="/courses/paramedic/">Paramedic Academy</a></li>
      <li><a href="/courses/">Pharmacy Technician</a></li>
      <li><a href="/courses/phm/">Phlebotomy Technician</a></li>
      <li><a href="/courses/cma/">Medical Assistant</a></li>
      <li><a href="/courses/spt/">Sterile Processing</a></li>
    </ul>
  </li>
  <li><div class="color_bar ceu border-color"></div>CPR / CEU
    <ul class="submenu">
      <li><a href="/courses/bls/">CPR</a></li>
      <li><a href="/courses/acls/">ACLS</a></li>
      <li><a href="/courses/pals/">PALS</a></li>
      <li><a href="/courses/ecg-b/">ECG Basic</a></li>
      <li><a href="/courses/ecg-12/">ECG 12-Lead</a></li>
      <li><a href="/courses/ecg-t/">ECG Tech</a></li>
      <li><a href="/courses/emt-r/">EMT Refresher</a></li>
      <li><a href="/courses/emt-s/">EMT Skills</a></li>
      <li><a href="/courses/itls/">ITLS</a></li>
      <li><a href="/courses/first-aid/">First Aid</a></li>
    </ul>
  </li>
  <li><div class="color_bar admin border-color"></div><a href="/about/">About Us</a></li>
  <li><div class="color_bar admin border-color"></div><a href="/news/">News</a></li>
  <li><div class="color_bar admin border-color"></div><a href="/contact/{{ form_course_name ? '?p=' ~ form_course_name }}">Contact Us</a></li>
  <li><div class="color_bar admin border-color"></div><a href="/students/">Student<br>Resources</a></li>
</ul>
