{% extends 'course.twig' %}

{% set css = ['postsec.css']|merge( css|default( [] ) ) %}

{% block main %}
  <main>
    <div id="left-col">
    {% for image in left_images %}
      <div class="img-wrap"><img src="{{ image }}" alt=""></div>
    {% endfor %}
    </div>
    <div id="center-col">
      {{ content|raw }}
    </div>
    <div id="right-col">
    {% for image in right_images %}
      <div class="img-wrap"><img src="{{ image }}" alt=""></div>
    {% endfor %}
    </div>
  </main>
{% endblock main %}

