<div id="submenu_career_courses" class="submenu">
  <div><div class="color_bar postsec border-color"></div><span>Career<br>Courses</span></div>
  <div><div class="color_bar emt border-color"></div><a href="/courses/emt/">EMT</a></div>
  <div><div class="color_bar paramedic border-color"></div><a href="/courses/paramedic/">Paramedic<br>Academy</a></div>
  <div><div class="color_bar pharm border-color"></div><a href="/courses/phm/">Pharmacy<br>Technician</a></div>
  <div><div class="color_bar phleb border-color"></div><a href="/courses/cpt/">Phlebotomy<br>Technician</a></div>
  <div><div class="color_bar ma border-color"></div><a href="/courses/cma/">Medical<br>Assistant</a></div>
</div>
<div id="submenu_cpr_ceu" class="submenu">
  <div><div class="color_bar ceu border-color"></div><span><span class="nowrap">CPR /</span><br>CEU</span></div>
  <div><div class="color_bar ceu border-color"></div><a href="/courses/bls/">CPR</a></div>
  <div><div class="color_bar ceu border-color"></div><a href="/courses/acls/">ACLS</a></div>
  <div><div class="color_bar ceu border-color"></div><a href="/courses/pals/">PALS</a></div>
  <div><div class="color_bar ceu border-color"></div><a href="/courses/ecg-b/">ECG Basic</a></div>
  {# <div><div class="color_bar ceu border-color"></div><a href="/courses/ecg-12/">ECG<br><span class="nowrap">12-Lead</span></a></div> #}
  {# <div><div class="color_bar ceu border-color"></div><a href="/courses/ecg-t/">ECG Tech</a></div> #}
  <div><div class="color_bar ceu border-color"></div><a href="/courses/emt-r/">EMT Refresher</a></div>
  <div><div class="color_bar ceu border-color"></div><a href="/courses/emt-s/">EMT Skills</a></div>
  {# <div><div class="color_bar ceu border-color"></div><a href="/courses/itls/">ITLS</a></div> #}
  {# <div><div class="color_bar ceu border-color"></div><a href="/courses/first-aid/">First Aid</a></div> #}
</div>
<div id="submenu_about_us" class="submenu">
  <div><div class="color_bar about border-color"></div><a href="/about/">About Us</a></div>
  <div><div class="color_bar about border-color"></div><a href="/about/leadership.php">Leadership</a></div>
  <div><div class="color_bar about border-color"></div><a href="/about/catalog.php">Catalog</a></div>
  <div><div class="color_bar about border-color"></div><a href="/about/factsheet.php">Fact Sheet</a></div>
  <div><div class="color_bar about border-color"></div><a href="/about/annualreport.php">Annual Report</a></div>
  <div><div class="color_bar about border-color"></div><a href="/about/policies.php">Policies &amp; Terms</a></div>
</div>
<div id="submenu_contact_us" class="submenu">
  <div><div class="color_bar contact border-color"></div><a href="/contact/">Contact Us</a></div>
  <div><div class="color_bar contact border-color"></div><a href="/contact/hours.php">Hours &amp; Info</a></div>
  <div><div class="color_bar contact border-color"></div><a href="/contact/map.php">Map &amp; Directions</a></div>
  <div><div class="color_bar contact border-color"></div><a href="/contact/transit.php">Public Transit</a></div>
  <div><div class="color_bar contact border-color"></div><a href="/contact/parking.php">Parking</a></div>
</div>
<div id="submenu_student_resources" class="submenu">
  <div><div class="color_bar resources border-color"></div><span>Student<br>Resources</span></div>
  <div><div class="color_bar resources border-color"></div><a href="/students/admissions.php">Admissions</a></div>
  <div><div class="color_bar resources border-color"></div><a href="/students/program_resources.php">Program<br>Resources</a></div>
  <div><div class="color_bar resources border-color"></div><a href="/students/continuing_education.php">Continuing<br>Education</a></div>
  <div><div class="color_bar resources border-color"></div><a href="/students/career_services.php">Career<br>Services</a></div>
</div>
