<div id="submenu_career_courses" class="submenu">
  <div><div class="color_bar postsec border-color"></div><span>Career<br>Courses</span></div>
  <div><div class="color_bar emt border-color"></div><a href="/courses/emt/">EMT</a></div>
  <div><div class="color_bar paramedic border-color"></div><a href="/courses/paramedic/">Paramedic Academy</a></div>
  <div><div class="color_bar pharm border-color"></div><a href="/courses/">Pharmacy Technician</a></div>
  <div><div class="color_bar phleb border-color"></div><a href="/courses/phm/">Phlebotomy Technician</a></div>
  <div><div class="color_bar ma border-color"></div><a href="/courses/cma/">Medical Assistant</a></div>
  <div><div class="color_bar spt border-color"></div><a href="/courses/spt/">Sterile Processing</a></div>
</div>
<div id="submenu_cpr_ceu" class="submenu">
  <div><div class="color_bar ceu border-color"></div><span>CPR / CEU</span></div>
  <div><div class="color_bar ceu border-color"></div><a href="/courses/bls/">CPR</a></div>
  <div><div class="color_bar ceu border-color"></div><a href="/courses/acls/">ACLS</a></div>
  <div><div class="color_bar ceu border-color"></div><a href="/courses/pals/">PALS</a></div>
  <div><div class="color_bar ceu border-color"></div><a href="/courses/ecg-b/">ECG Basic</a></div>
  <div><div class="color_bar ceu border-color"></div><a href="/courses/ecg-12/">ECG 12-Lead</a></div>
  <div><div class="color_bar ceu border-color"></div><a href="/courses/ecg-t/">ECG Tech</a></div>
  <div><div class="color_bar ceu border-color"></div><a href="/courses/emt-r/">EMT Refresher</a></div>
  <div><div class="color_bar ceu border-color"></div><a href="/courses/emt-s/">EMT Skills</a></div>
  <div><div class="color_bar ceu border-color"></div><a href="/courses/itls/">ITLS</a></div>
  <div><div class="color_bar ceu border-color"></div><a href="/courses/first-aid/">First Aid</a></div>
</div>
